@media only screen and (min-width: 768px){

nav ul li {
    display: inline-block;
}

button#hamburgerBtn 
{
    display: none;
}

nav ul {
    display: block;
    padding: 0;
    margin: 0;
    }

    .container{
        display: flex;
        }
  
  footer section{
      flex-basis: 33.3%;
  }
  main section {
      flex-basis: 50%;
  }
  .card {
    flex-basis: 30%;
}

}