html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}



body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    
}
main{
    padding: 16px;
}

header,
footer {
    background-color:  #9CC3D5FF;
    width: 100%;
    height: auto;
    display: inline-block;  
    height: auto;
   
}
header{padding: 0;}


header img {
    float: left;
    padding:0.5em ;
    height: 85px;
}
header h1 {
    margin: 0;
    color: rgb(3, 3, 3); 
    font-weight: 300;
    font-style: italic;
    padding:  1rem 0 0 2rem; 
	font-size: 2.5rem;
}

nav a,
footer a
{
    padding: .8rem .8rem; 
    text-align: center;
    text-decoration: none;
}
nav a{
    color: #eee; 
    display: block;
    font-size: 1.3rem;
}
footer a{
    color: black;
    font-size: 1.3rem;
}

nav li {
    list-style: none;
    display: block;
    padding:  0; 
    text-align: center;  
}

nav ul {
    display: none;   
}

button#hamburgerBtn { 
    background: none;
    border:none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}
nav{
background-color:#09C ;
z-index:2 ;

}
nav a:hover,
.active
{background-color: rgba(0,0,0,0.2);}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

footer
{
    padding-bottom: 4rem;
    text-align: center;
    margin-top: 1em;
}
.show,
footer ul{
    display: block;
    padding: 0;
    margin: 0;
}

footer li {
    list-style: none;
    display: block;
    font-weight: 500;
}
footer li ,
footer p{
    padding:1em ;
}
footer a:hover{
    font-weight: 700;
}

.limited {
    max-width: 1140px; 
    margin: auto;
}
 
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    width:70% ;
  
}
  
main p {
    font-size:200%;
    font-weight: 500;
}
b { font-weight: bold; }

label{
    display: block;
    font-weight: bold;
}

label{
    margin: 1rem 0;
}

main div {
    float: left;
    display: block;  
}

form {
    float: right;
}

form button ,
input,
textarea{
    display: block;
    padding: .8rem;
    margin:.8rem 0 ;
    border-radius: .5rem;
    border-width: 3px;
}

input,
textarea{
    width: 80%;
    resize: none;
}



input:invalid{
    border-color: red;
}

input:valid{
    border-color:rgb(19, 177, 19);
}

table ,
th,
td{
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 1.5rem;   
}
table{
    margin: 1rem;
    width: 85%;
    overflow-wrap: normal;
}
th{
    padding: .5rem;
}
td{
    padding: .5rem;
    max-width: px;
}

.tablemobile {
    overflow-x: auto;
    display: block;
}
tbody>tr>:nth-child(2),
tbody>tr>:nth-child(1){ 
    font-weight: bold;
    }

.container2{
    display: flex;
    flex-wrap: wrap;
    z-index:1 ;

}

.card img{
    width: 100%;
    height: 100%;
}

.card {
    position: relative;
    flex-basis: 45%;
    padding-right: 1rem;
    margin: .5em 0;
}
.card h3{
    position: absolute;
    background-color: rgba(255,255,255,.7);
    margin: 0;
    width: 100%;
    padding: .3rem .3rem;
    bottom: 0;
    font-weight: 700;
    font-style: italic;
    font-size: clamp(15px, 2vw, 25px);
    word-wrap: break-word;
    color:#000;
}
